.password-field > .right-button > .right-button-graphic {
    -fx-shape            : "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
    -fx-scale-shape: false;
    -fx-background-color: black;
}
.text-input{
    -fx-background-radius: 0, 0;
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-insets: 0;
    -fx-prompt-text-fill: #818181;
    -fx-highlight-fill: #008287; /* TODO: this probably is the "active" color" */
    -fx-highlight-text-fill: white;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    
}

.text-input:hover{
    -fx-background-color: #e2e2e2;
}

.text-input:focused{
    -fx-background-color: #5c5c5c, white;

    -fx-text-fill: black;
}

.text-input > .right-button{
    -fx-cursor: default;

    -fx-background-insets: -0.1666665em -0.45em -0.1666665em -0.45em; /* 4 7 4 7 -> this values are subtracted by 2px in em because of the border of the textfield */
}

.text-field > .right-button > .right-button-graphic {
    -fx-shape            : "M221.738,305.873l6.135,6.16l-2.875,2.863l-6.135-6.159l-6.263,6.237l-2.864-2.875l6.263-6.238l-6.177-6.202l2.875-2.863l6.177,6.201l6.244-6.22l2.864,2.876L221.738,305.873z";

    -fx-padding: 0.5em 0.5em; /* TODO: put the real number here 18 18 */
    -fx-background-color: black;
}

.text-input > .right-button:hover {
    -fx-background-color: #dedede;
}

.text-input > .right-button:pressed {
    -fx-background-color: black;
}

.text-input > .right-button:pressed > .right-button-graphic {
    -fx-background-color: white;
}

.text-input:disabled
{
    -fx-opacity: 1;
    -fx-background-insets: 0, 2;
    -fx-background-color: #e7e6e6;
    -fx-text-fill: #999999;
}

.item-title.disabled{
    -fx-text-fill: #939393;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-background-color: #880000;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: white;
}
 
.button:hover{
    -fx-background-color: #b60000;
}
 
.button:pressed, .button:default:hover:pressed
{   
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-border-color : #b60000;
    -fx-border-width:2;
    -fx-background-color: #b60000;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-text-fill: white;
}
 
.button:focused
{  
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-border-color : #b60000;
    -fx-border-width:2;
    -fx-background-color: #b60000;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-text-fill: white; 
}
 
.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}
 
.button:default
{
    -fx-background-color: #c90000;
    -fx-text-fill: #ffffff;
}
 
.button:default:hover{
    -fx-background-color: #d01212;
}